In [ ]:
#DICTIONARIES are immutable , so how to add data
x = {"abc" : 123, "def" : 456, "ghi" : 789}
x["abc"]
#here "abc" is the KEY to 123, key have to be unique

123

In [ ]:
x["jkl"]= 101112
x 
#try "jkl" in x

{'abc': 123, 'def': 456, 'ghi': 789, 'jkl': 101112}

In [ ]:
del(x["jkl"])
x

{'abc': 123, 'def': 456, 'ghi': 789}

In [ ]:
world = { 'asia' : { 'India' : 'Delhi', 'China': 'Beijing', 'Russia': 'Moscow'},
          'n.ameria' : {'USA': 'DC', 'Canada' : 'toronto'},
          'europe' : { 'UK' :'london', 'france': 'paris', 'germany': 'berlin'} }
world['asia']['India']

'Delhi'

#PANDAS
Numpy works best for dataset with a SINGLE datatype, but thats not always the case. W e can use Pandas with more complicated datasets. Its bult on numpy package

dataset stored -- csv files = comma separted value

In [ ]:
dict = { "country":["Brazil", "Russia", "India", "China", "South Africa"],
        "capital":["Brasilia", "Moscow", "New Delhi", "Beijing", "Pretoria"],
        "area":[8.516, 17.10, 3.286, 9.597, 1.221],
        "population":[200.4, 143.5, 1252, 1357, 52.98] }

In [ ]:
import pandas as pd
brics = pd.DataFrame(dict)
brics

        country    capital    area  population
0        Brazil   Brasilia   8.516      200.40
1        Russia     Moscow  17.100      143.50
2         India  New Delhi   3.286     1252.00
3         China    Beijing   9.597     1357.00
4  South Africa   Pretoria   1.221       52.98

In [ ]:
brics.index = ["BR", "RU", "IN", "CH", "SA"]
brics
#brics = pd.read_csv("path/to/brics.csv") if the file is somewhere

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [ ]:
print(brics["country"])

BR          Brazil
RU          Russia
IN           India
CH           China
SA    South Africa
Name: country, dtype: object

In [ ]:
#print(brics["country", "capital"]) 
#to print sub-dataframe 
print(brics[["country", "capital"]])

#you can also select specific rows through slicing, try brics[1:4]
brics[1:4]

         country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

In [ ]:
#loc -- label based , iloc --integer position baseed function
brics.loc["RU"] #row acess

# to get it as a df, we use [[]]
brics.loc[["RU", "IN"]]
#try brics.loc[["RU", "IN"], ["country", "area"]]

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0

In [ ]:
# Print out area value of IN
print(brics.loc[["IN"], "area"])

# Print sub-DataFrame  containing the observations for Russia and IN and the columns country and area.
print(brics.loc[['RU', 'IN'],['country','area']])

IN    3.286
Name: area, dtype: float64
   country    area
RU  Russia  17.100
IN   India   3.286

In [ ]:
#series
brics.loc[:, 'country']
#brics.iloc[:, 1] -- iloc is INTEGER BASED, so u define the nth row as n, loc is name based, so you have to define the row with its name
#dataframe
brics.loc[:, ['country','area']]
#brics.iloc[:, [1, 2]]

         country    area
BR        Brazil   8.516
RU        Russia  17.100
IN         India   3.286
CH         China   9.597
SA  South Africa   1.221

In [ ]:
'carl' < 'chris'
#dictionary order, but 23 < 'chris' -- error , becoz NOT THE SAME DATATYPE

True

In [ ]:
brics["area"] > 25.00
#so here numpy, AUTOMATICALLY, compared EACH ELEMENT with 25.00, so pretty awesome

BR    False
RU    False
IN    False
CH    False
SA    False
Name: area, dtype: bool

In [ ]:
#filtering pandas df
brics["area"]
#we need the series and not df

BR     8.516
RU    17.100
IN     3.286
CH     9.597
SA     1.221
Name: area, dtype: float64

In [ ]:
big_countries = brics["area"] > 8
#big_countries
brics[big_countries]
#brics[brics["area"] > 8]

   country   capital    area  population
BR  Brazil  Brasilia   8.516       200.4
RU  Russia    Moscow  17.100       143.5
CH   China   Beijing   9.597      1357.0

In [ ]:
#since pnadas is built ON numPy. We can do this 
import numpy as np
np.logical_and(brics["area"]>8, brics["area"]<1)
#brics[np.logical_and(brics["area"]>8, brics["area"]<6)]

BR    False
RU    False
IN    False
CH    False
SA    False
Name: area, dtype: bool

In [ ]:
# Extract  column as Series named series
series=df["column"]

# Use series to subset df, called subset
subset= df[series]

# Print sel
print(subset)