In [ ]:
print('Hello Everyone!!!')
print(6+7)
y=7*8
print(y)
print() # blank line

x=9
x+= 1
x

Hello Everyone!!!
13
56

10

In [ ]:
x=9
print(type(x))

<class 'int'>

In [ ]:
# Concatenation 
print('hello' + 'world')

# variable
x = 'Hello'
z = 'xyz'
print(x+ ' '+ z)

helloworld
Hello xyz

In [ ]:
x = 5
x ==5

True

In [ ]:
drink_name = input("Enter your fav drink")
# Put an `f` before your string, then you can include variable names between {curly braces}
fun_fact = f'My favorite coffee drink is a {drink_name}. It\'s the best!'
#fun_fact = f'My fav drink is {drink_name}'

fun_fact

Enter your fav drinklatte

"My favorite coffee drink is a latte. It's the best!"

**Reference:** https://www.w3schools.com/python/gloss_python_string_concatenation.asp

#### By default type is string.

In [ ]:
b = "5"
type(b)

str

In [ ]:
b = int(b)

type(b)

int

In [ ]:
age = int(input("please enter age"))

please enter age4

In [ ]:
type(age)

int

In [ ]:
xu = "5"
xu = int(xu)

In [ ]:
name= "5"
print(int(name)+age)

9

In [ ]:
name = input ('Hey whats your name')
(age) = input('and your age?')

out= f'So basically you are {name} and you say you are {age} years old?'
out

Hey hwats your name anne
and your age?6

'So basically you ar  anne and you say you are 6 years old?'

### Numeric Data type in Python

1.   int
2.   float
3.   Complex

In [ ]:
#** --> raise to the power --> ^
print(2**3)

8

In [ ]:
a=10; b=5
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(b**a)

15
5
50
2.0
2
0
9765625

In [ ]:
## Solve:
print(a+(b/3)-(4*12))

-36.333333333333336

In [ ]:
print(a+b/3-4*12)

-36.333333333333336

In [ ]:
print((5+11)/(3-4)*12)

-192.0

In [ ]:
x = "Intro to Python"
print(x[0])
print(x[3])
print(x[-1])
len(x)

In [ ]:
# Slicing
# str[from:to] (from included, to not included)
x = "Intro to PYTHON"
print(x[1:3])
print(x[:6])
print(x[2:])
print(x[-4:-6])

nt
Intro
tro to PYTHON

In [ ]:
print(x[6:3])

In [ ]:
print(x[-6])

P

In [ ]:
print(x[-6:-3])

In [ ]:
print(x[:6])

Intro

In [ ]:
# Slicing
# str[from:to:steps] (from included, to not included, steps to jump)
x = "Intro to python"
print(x[:3:2])
print(x[3:5])
print(x[3:8:2])
print(x[:6:-1])
print(x[2::3])
print(x[-4::-2])

It
ro
r o
nohtyp o
t  tn
tpo rn

In [ ]:
print(x[-4:-6:-1])

ty

**Reference:** https://www.w3schools.com/python/python_strings_slicing.asp

In [ ]:
print("hello"*5)

hellohellohellohellohello

In [ ]:
s = "5"*5
type(s)

str

In [ ]:
2**3

8

In [ ]:
for i in range(1, 10):
  print("No. {0} squared is {1} & cubed is {2}".format(i, i**2, i**3))

No. 1 squared is 1 & cubed is 1
No. 2 squared is 4 & cubed is 8
No. 3 squared is 9 & cubed is 27
No. 4 squared is 16 & cubed is 64
No. 5 squared is 25 & cubed is 125
No. 6 squared is 36 & cubed is 216
No. 7 squared is 49 & cubed is 343
No. 8 squared is 64 & cubed is 512
No. 9 squared is 81 & cubed is 729

**Reference:** https://www.w3schools.com/python/ref_string_format.asp

https://www.w3schools.com/python/python_for_loops.asp

### Lists:

Similar to Linked List
If we have multiples of one kind of variable, we can use a list
 We can create a list with [square brackets], separating each value with commas

**Reference:** https://www.w3schools.com/python/python_lists.asp

In [ ]:
cities = ['Nashville', 'Boston']

# We can add a new element to the list with the .append method

cities.append('Seattle')
cities

['Nashville', 'Boston', 'Seattle']

In [ ]:

# we can index specific elements, starting with 0. Just like strings!

cities[0], cities[2]

('Nashville', 'Seattle')

In [ ]:
lt = [1, 2, 3, 4, 5, 6]
lt2 = ["m", "o","n"]
lx = lt+lt2
print(lx)

[1, 2, 3, 4, 5, 6, 'm', 'o', 'n']

In [ ]:
even = [2, 4, 6, 8]
odd = [1, 3, 5, 7, 9]

numbers = even+odd
print(numbers)
print(sorted(numbers))
print(numbers)
numbers.sort()  # works on existing object , doesn't creat anything new
print(numbers)

[2, 4, 6, 8, 1, 3, 5, 7, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 4, 6, 8, 1, 3, 5, 7, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
numbers = even+odd
n = sorted(numbers)
print(n)
if numbers == n:
  print("This lists are equal")
else:
  print("This lists aren't equal")

[1, 2, 3, 4, 5, 6, 7, 8, 9]
This lists aren't equal

In [ ]:
print(list("Please pay attention!"))

['P', 'l', 'e', 'a', 's', 'e', ' ', 'p', 'a', 'y', ' ', 'a', 't', 't', 'e', 'n', 't', 'i', 'o', 'n', '!']

In [ ]:
#print(list("Please pay attention!", "attention"))

# TypeError: list expected at most 1 arguments, got 2

In [ ]:
numbers = even+odd
numbers.sort(reverse=True)
print(numbers)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
numbers = [odd, even]
print(numbers)

[[1, 3, 5, 7, 9], [2, 4, 6, 8]]

In [ ]:
numbers = even+odd
numbers

[2, 4, 6, 8, 1, 3, 5, 7, 9]

In [ ]:
numbers = even+odd
numbers.remove(2)
print(numbers)

[4, 6, 8, 1, 3, 5, 7, 9]

In [ ]:
numbers.remove(5)
print(numbers)

[4, 6, 8, 1, 3, 7, 9]

In [ ]:
my_list = list(range(10))
print(my_list)

even = list(range(0, 10, 2))
odd = list(range(1, 10, 2))
print(even)
print(odd)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [ ]:
print(even.index(4))

2

In [ ]:
even[2]

4

In [ ]:
r = range(0, 100)
for i in r[::-2]:
  print(i)

99
97
95
93
91
89
87
85
83
81
79
77
75
73
71
69
67
65
63
61
59
57
55
53
51
49
47
45
43
41
39
37
35
33
31
29
27
25
23
21
19
17
15
13
11
9
7
5
3
1

# FUNCTIONS 
You can think of functions like a bunch of code that is intended to do a particular task in the whole Python script. Python used the keyword 'def' to define a function.

**syntax**

```
def function-name(arguments):

            #function body
```

In [ ]:
# Python program to illustrate
# functions
def hello():
    input("Whats your name")

In [ ]:
# calling function
hello()

Whats your name Anne